body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    margin: 0;
}

.container {
    max-width: 900px;
    margin: auto;
    padding: 30px;
}

h1 {
    text-align: center;
}

h2 {
    margin-top: 40px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

th {
    background: #222;
    color: white;
}

th,
td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

tr:hover {
    background: #f7f7f7;
}

.gold {
    font-weight: bold;
}

.silver {
    font-weight: bold;
}

.bronze {
    font-weight: bold;
}
